@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;400;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Catamaran';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 27px 50px;

}

.nav-buttons {
    display: flex;
    gap: 10px;
    height: fit-content;
}

.light {
    color: rgb(3, 20, 29)7, 37, 37);
    border: 2px solid rgba(192, 192, 192, .3);
    
}

.link {
    color: rgb(82, 82, 82);
}

.link:hover {
    color: rgb(1, 4, 32);
}

